


label {
    position: relative;
    display: block;
    color: #404040;
    float: left;
    font-size: 13px;
    line-height: 18px;
    padding-top: 6px;
    text-align: left;
    padding-right: 0;
    border-right: 0;
    margin-right: 0;
    width: 2%;
}

label, input, select, textarea {
    display: block;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: normal;
}

input, textarea, select {
    display: block;
    position: relative;
    -moz-border-radius: 3px 3px 3px 3px;
    border: 1px solid #CCCCCC;
    color: #808080;
    display: inline-block;
    font-size: 13px;
    height: 18px;
    line-height: 18px;
    padding: 4px;
    width: 100%;
}

#bottom {
    background: linear-gradient( #e8f6ff, #f4e0ff);
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-family: 'Gloria Hallelujah', cursive;
    font-family: 'Amatic SC', cursive;
    text-align: center;
    font-weight: bold;
    outline: 1px solid;
    box-shadow: 2px, 2px, 5px, #7f72a8;
    box-shadow: 0px 2px 7px #742e82;
    outline-color: #7f72a8;
    font-size: 1.2em;
    position: fixed;
    bottom: 0;
    position: fixed;
    width: 100%;
    margin: 0% auto; /* Will not center vertically and won't work in IE6/7. */
    left: 0;
    right: 0;
    padding: 0;
    border: 0;
}

h2 {
    padding: 0;
    border: 0;
    margin: 0;
}

select {
    display: block;
    height: 27px;
    line-height: 27px;
}

#segment .input {
    display: block;
    margin-left: 50%;
}
#segment2 .input {
    display: block;
    margin-left: 50%;
}

#lel {
 
    position: relative;
    text-align: right;
    right: 20%;

}
#segment .line {
    display: block;
    margin-bottom: 18px;
    margin-top: 18px;
    position: relative;
    left: 0px;
}

#segment2 .line {
    display: block;
    margin-bottom: 18px;
    position: relative;
    left: 0px;
}

#segment3 .line {
    display: block;
    margin-bottom: 18px;
    position: relative;
    left: 0px;
}



#padder {
    display: block;
    margin-top: 4px;
}

#mybuttons {
    height: 32px;
    border-radius: 3px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    background-color: #c6b9ce; /* Green */
    border: none;
    color: white;
    width: 70%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: relative;
    left: 15%;
}

    #mybuttons:hover {
        background-color: #a58db5;
    }
    #mybuttons:active {
        background-color: #87638c;
   
        /*transform: translateY(4px);*/
    }

#segment {
    border-radius: 12px;
    background: linear-gradient(to right, #ebd1ff 0%, #fae0ff 100%);
    padding-top: 6px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 24px;
    display: block;
    position: relative;
    //border: 3px dotted;
    border-color: mediumpurple;
    box-shadow: 0px 2px 7px #742e82;
}
h1 {
    font-family: 'Gloria Hallelujah', cursive;
    font-family: 'Amatic SC', cursive;
    position: relative;
    text-align: center;
}

#wrapper {
    margin-top: 120px;
    position: relative;
    width: 20%;
    left: 40%;
}

#wrapper2 {
    margin-top: 120px;
    position: relative;
    width: 20%;
    left: 40%;
}

#wrapper3 {
    margin-top: 120px;
    position: relative;
    width: 20%;
    left: 40%;
}
#segment2 {
    border-radius: 12px;
    background: linear-gradient(to right, #ccfffc 0%, #ccfcee 100%);
    padding-top: 6px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 24px;
    display: block;
    position: relative;
    //border: 3px dotted;
    border-color: #4989c1;
    box-shadow: 0px 2px 7px #4989c1;
}
#segment3 {
    border-radius: 12px;
    background: linear-gradient(to right, #ffeead 0%, #ffe2af 100%);
    padding-top: 6px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 24px;
    display: block;
    position: relative;
    //border: 3px dotted;
    border-color: #b7642d;
    box-shadow: 0px 2px 7px #b7642d;
}


#ptable {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    margin-top: 0px;
    position: relative;
    width: 86%;
    left: 7%;
    box-shadow: 0px 2px 7px #4989c1;
}

.grid-container {
    border-color: #4989c1;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    display: grid;
    grid-template-columns: 5.555% 5.555% 5.555% 5.555% 5.555% 5.555% 5.555% 5.555% 5.555% 5.555% 5.555% 5.555% 5.555% 5.555% 5.555% 5.555% 5.555% 5.555%;
    background: linear-gradient( to right, #ceefff 0%, #d8fdff 100%);
    padding: 10px;
    position: relative;
    right: 0px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #5e5e5e;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}
.grid-item:hover {
    background-color: mediumpurple;
    border: 1px solid rgba(0, 0, 0, 1);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}
.grid-item-empty {
    padding: 20px;
    font-size: 30px;
    text-align: center;
    font-size: 0px;
}

#textBottomPtable {
    margin-top: .2em;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: palevioletred;
    position: relative;
    height: 32px;
    width: 86%;
    left: 7%;
    background: linear-gradient( to right, #89e1ff 0%, #99d7ff 100%);
    box-shadow: 0px 0px 8px #99d7ff;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
p{
    margin: 0;
    border: 0;
    //padding: 8px;

}
#massButton {

    position: relative;
    float: right;
    padding: 5px;
    margin: 8px;
    margin-top: 0;
    margin-bottom: 0;
    height: 32px;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    letter-spacing: .14em;
}
#clearButton {
    position: relative;
    float: right;
    padding: 5px;
    margin: 8px;
    margin-top: 0;
    margin-bottom: 0;
    height: 32px;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    letter-spacing: .14em;
}
#molesButton {
    position: relative;
    float: right;
    padding: 5px;
    margin: 8px;
    margin-top: 0;
    margin-bottom: 0;
    height: 32px;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    letter-spacing: .14em;
}
#massOfElem {
    position: relative;
    float: right;
    padding: 5px;
    margin: 8px;
    margin-top: 0;
    margin-bottom: 0;
    height: 18px;
    width: 18%;
    background-color: white;
    top: 1.5px;
}
#molesInElem {
    position: relative;
    float: right;
    padding: 5px;
    margin: 8px;
    margin-top: 0;
    margin-bottom: 0;
    height: 18px;
    width: 18%;
    background-color: white;
    top: 1.5px;
}

#wholeTable{

    padding-top: 90px;

}
#hy {
    background: linear-gradient( to right, #fff4ef 0%, #ffefef 100%);
}
    #hy:hover {
        background: linear-gradient( to right, #dbcece 0%, #dbd6ce 100%);
    }
#nbg {
    background: linear-gradient( to right, #96ffc2 0%, #a5ffd6 100%);
}
    #nbg:hover {
        background: linear-gradient( to right, #9bdbb1 0%, #9bdbc1 100%);
    }
#alkm {
    background: linear-gradient( to right, #c9e0ff 0%, #d6dfff 100%);
}
    #alkm:hover {
        background: linear-gradient( to right, #92a9b5 0%, #929ab5 100%);
    }
#alke {
    background: linear-gradient( to right, #ffc4e7 0%, #ffd1e0 100%);
}
    #alke:hover {
        background: linear-gradient( to right, #c9a7b6 0%, #c9a7b2 100%);
    }
#nonm {
    background: linear-gradient( to right, #fff0b5 0%, #ffe7c1 100%);
}
    #nonm:hover {

        background: linear-gradient( to right, #c6b995 0%, #c3c695 100%);
    }
#porm {
    background: linear-gradient( to right, #ffbaba 0%, #ffcec9 100%);
}

    #porm:hover {
        background: linear-gradient( to right, #c49797 0%, #c9a4a1 100%);
    }


#tranm {
    background: linear-gradient( to right, #daff84 0%, #f2ff93 100%);
}

    #tranm:hover {
        background: linear-gradient( to right, #a3b76c 0%, #aeb76c 100%);
    }


h3 {
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 40px;
}
#elemList {

    padding-left: 24px;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    font-size: 30px;
}